*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}


.container{
  width: 350px;
  margin: 30px auto;
}

h1{
  letter-spacing: 1px;
}

h3{
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4{
  text-transform: uppercase;
}

.inc-exp-container{
  background: #fff;
  box-shadow: 4px 3px 28px -2px rgba(0, 0, 0, 0.8);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type{
  border-right: 1px solid #dedede;
}

.money{
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus{
  color: #2ecc71;
}

.money.minus{
  color: #c0392b;
}

label{
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number']
{
  border:1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  outline: none;
}

.btn{
  padding: 10px;
  background-color: #9c88ff;
  box-shadow: 4px 3px 28px -2px rgba(0, 0, 0, 0.8);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  cursor: pointer;
}

.btn:focus,
.delete-btn:focus{
  outline: none;
}

.list{
  list-style-type: none;
  margin-bottom: 40px;
}

.list li{
  background: #fff;
  box-shadow: 4px 3px 28px -2px rgba(0, 0, 0, 0.8);
  color: #333;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0;
  position: relative;
}

.list li.plus{
  border-right: 5px solid #2ecc71;
}

.list li.minus{
  border-right: 5px solid #c0392b;
}

.delete-btn{
  background: #e74c3c;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  padding: 2px 5px;
  line-height: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn{
  opacity: 1;
  transition: opacity 0.3s ease;
}